<html>
  <head>
  </head>

  <body>
    <ul class="navbar">
      <li><a href="/">Home Page</a></li>
      <li><a href="/dealers">Dealers Page</a></li>
    </ul>
    <h2>Welcome to the Trucks Collective Inventory Page</h2>
    <%= form_tag do %>
    <%= label_tag 'Search by year:' %>
    <h3><%= text_field_tag "orderbyyear", "1929" %></h3>
    <div>
      <%= submit_tag 'sort' %>
    </div>
    <% end %>
    <%= form_tag do %>
    <%= label_tag 'Search by keyword:' %>
    <h3><%= text_field_tag "filter", "keyword" %></h3>
    <div>
      <%= submit_tag 'filter' %>
    </div>
    <% end %>
    <table>
      <tr>
        <th>View Truck</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Dealer</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    <% @trucks.each do |truck| %>
      <tr>
        <td><a href="/trucks/<%= truck.id %>">View</a></td>
        <td><%= truck.year %></td>
        <td><%= truck.make %></td>
        <td><%= truck.model %></td>
        <td><a href="/dealers/<%= truck.dealer_id %>"><%= truck.dealer.name %></a></td>
        <td><a href="/trucks/<%= truck.id %>/edit">Edit</a></td>
        <td><a data-method="delete" href="/trucks/<%= truck.id %>">Delete</a></td>
      <tr>
    <% end %>
  </table>
  </body>
<html>
