<html>
  <head>
  </head>

  <body>
    <ul class="navbar">
      <li><%= link_to "Home Page", home_path, method: :get %></li>
      <li><%= link_to "Dealers Page", dealers_path, method: :get %></li>
    </ul>
    <h2>Welcome to the Trucks Collective Inventory Page</h2>
    <%= form_tag trucks_path, method: :get  do %>
      <%= label_tag 'Sort by make/model?' %>
      <div>
        <%= submit_tag 'Sort' %>
      </div>
    <% end %>
    <%= form_tag trucks_path, method: :get do %>
      <%= label_tag 'Search by year/make/model:' %>
      <h3><%= text_field_tag "search" %></h3>
      <%= label_tag 'Exact:' %>
      <%= radio_button_tag 'radio', 'Exact Match' %>
      <%= label_tag 'Partial:' %>
      <%= radio_button_tag 'radio', 'Partial' %>
      <%= label_tag 'Year:' %>
      <%= radio_button_tag 'radio', 'orderbyyear', required: :required %>
      <div>
        <%= submit_tag 'search' %>
      </div>
    <% end %>
    <table>
      <tr>
        <th>View Truck</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Dealer</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= link_to "View", show_truck_path(truck.id), method: :get %></td>
        <td><%= truck.year %></td>
        <td><%= truck.make %></td>
        <td><%= truck.model %></td>
        <td><%= link_to "#{truck.dealer.name}", show_dealer_path(truck.dealer_id), method: :get %></td>
        <td><%= link_to "Edit", edit_truck_path(truck.id), method: :get %></td>
        <td><%= link_to "Delete", destroy_truck_path(truck.id), method: :delete %></td>
      <tr>
    <% end %>
  </table>
  </body>
<html>
