<head>
</head>
<body>
  <ul>
    <li><a href="/trucks">Trucks Index</a></li>
    <li><a href="/trucks/<%= @truck.id %>/edit">Edit Truck</a></li>
    <li><a href="/dealers/<%= @truck.dealer_id %>">Dealer Page</a></li>
    <li><a href="/trucks/<%= @truck.id %>" data-method="delete" %> Delete</a></li>
  </ul>
<table>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Dealer ID</th>
    <th>Dealer Name</th>
  </tr>
  <tr>
    <td><%= @truck.year %></td>
    <td><%= @truck.make %></td>
    <td><%= @truck.model %></td>
    <td><%= @truck.dealer_id %></td>
    <td><% dealer = Dealer.find(@truck.dealer_id) %><%= dealer.name %></td>
  </tr>
</table>
</body>
