<%= form_tag method: :patch do%>
<%= label_tag 'name'%>
<%= text_field_tag :name, @road.name %><br><br>
<%= label_tag 'lanes'%>
<%= text_field_tag :lanes, @road.lanes%><br><br>

<h3>Open?</h3>
<%= label_tag("#{@road.open?}") %>
<%= radio_button_tag('open?', "#{@road.open?}", :checked) %>
<%= label_tag("#{!@road.open?}") %>
<%= radio_button_tag('open?', "#{!@road.open?}") %>
<div>
  <%= submit_tag "update" %>
</div>
<% end%>
