<%= form_tag method: :post do%>
<%= label_tag 'name'%>
<%= text_field_tag :name %><br><br>
<%= label_tag 'lanes'%>
<%= text_field_tag :lanes%><br><br>

<h3>Open?</h3>
<%= label_tag("true") %>
<%= radio_button_tag('open?', 'true', required: "required") %>
<%= label_tag("false") %>
<%= radio_button_tag('open?', 'false') %>
<h3>Has parking?</h3>
<%= label_tag("true") %>
<%= radio_button_tag('parking?', 'true', required: "required") %>
<%= label_tag("false") %>
<%= radio_button_tag('parking?', 'false') %><br>
<div>
  <%= submit_tag "submit" %>
</div>
<% end%>
