<html>
<head>
</head>
<body>
  <ul class="navbar">
    <li><%= link_to "Dealer Page", show_dealer_path(@dealer.id), method: :get %></li>
    <li><%= link_to "Dealers Index", dealers_path, method: :get %></li>
    <li><%= link_to "All Trucks Index", trucks_path, method: :get %></li>
    <li><%= link_to "Adopt A Truck", new_truck_path(@dealer.id, :dealer_id => @dealer.id), method: :get %></li>
  </ul><br/>
  <%= form_tag trucks_dealer_path(@dealer.id), method: :get  do %>
    <%= label_tag 'Sort by make/model?' %>
    <div>
      <%= submit_tag 'Sort' %>
    </div>
    <h3> OR!</h3>
  <% end %>
  <%= form_tag trucks_dealer_path, method: :get do %>
    <%= label_tag 'Search by year/make/model:' %><br>
    <%= text_field_tag "search" %><br/><br>
    <%= label_tag 'Exact:' %>
    <%= radio_button_tag 'radio', 'Exact Match' %>
    <%= label_tag 'Partial:' %>
    <%= radio_button_tag 'radio', 'Partial' %>
    <%= label_tag 'Year:' %>
    <%= radio_button_tag 'radio', 'orderbyyear', required: :required %><br><br>
    <div>
      <%= submit_tag 'search' %>
    </div>
  <% end %>
  <h2>Number of Trucks: <%= @dealer.child_count(:trucks) %></h2>
<table>
  <tr>
    <th>View Truck</th>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Edit me?</th>

    <th>Stay or go?</th>
  </tr>
    <% @trucks.each do |truck| %>
    <tr>
      <td><%= link_to "View", show_truck_path(truck.id), method: :get %></td>
      <td><%= truck.year %></td>
      <td><%= truck.make %></td>
      <td><%= truck.model %></td>
      <td><%= link_to "Edit", edit_truck_path(truck.id), method: :get %></td>
      <td><%= link_to "Delete Truck", destroy_truck_path(truck.id), method: :delete %></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
