<html>
  <head>
  </head>

  <body>
    <ul class="navbar">
      <li><%= link_to "Home Page", home_path, method: :get %></li>
      <li><%= link_to "Dealers Index", dealers_path, method: :get %></li>
      <li><%= link_to "Trucks Index", trucks_path, method: :get %></li>
      <li><%= link_to "#{@dealer.name} Trucks", trucks_dealer_path, method: :get %></li>
      <li><%= link_to "Edit", edit_dealer_path(@dealer.id), method: :get %></li>
      <li><%= link_to "Delete", destroy_dealer_path(@dealer.id), method: :delete %></li>

    </ul><br/>

    <table>
      <tr>
        <th>Dealer Name</th>
        <th>Location</th>
        <th>Founded</th>
        <th>Open?</th>
      </tr>
      <tr>
        <td><%= @dealer.name %></td>
        <td><%= @dealer.city + ", " + @dealer.state %></td>
        <td><%= @dealer.created_at %></td>
        <td><%= @dealer.open %></td>
      </tr>
    </table>
  </body>
</html>
