<html>
<head>
  <style>
    table, th, td {
      border: 1px solid black;
      text-align: left;
      padding: 5px;
    }

    th {
      font-weight: 900;
    }
  </style>
</head>
<body>
  <a href="/dealers/<%= @dealer.id %>"> Dealer Page</a><br/>
  <a href="/dealers/<%= @dealer.id %>/trucks/new/?dealer_id=<%= @dealer.id %>">Adopt A Truck</a><br/>
  <h2>Number of Trucks: <%= @dealer.trucks_count %></h2>
<table>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Dealer ID</th>
  </tr>
    <% @trucks.each do |truck| %>
    <tr>
      <td><%= truck.year %></td>
      <td><%= truck.make %></td>
      <td><%= truck.model %></td>
      <td><%= truck.dealer_id %></td>

    </tr>
    <% end %>
  </table>
</body>
</html>
