<%= form_tag "/cars/#{params[:id]}", method: :patch do%>
<%= label_tag 'name'%>
<%= text_field_tag :name, @car.name %><br><br>
<h3>Parked?</h3>
<%= label_tag("#{@car.parked?}") %>
<%= radio_button_tag('parked?', "#{@car.parked?}", :checked) %>
<%= label_tag("#{!@car.parked?}") %>
<%= radio_button_tag('parked?', "#{!@car.parked?}") %>
<div>
  <%= submit_tag "update" %>
</div>
<% end%>
